<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>{{(user | async)?.displayName}}</h1>

  <ion-list>
    <div ion-item *ngFor="let lyst of lysts">
      <h4>{{(lyst.info | async)?.name}}:</h4>

      <span>Lynks:</span>
      <ion-list>
        <div ion-item *ngFor="let lynk of (lyst.lynks | async)">
          <span>URL: {{(lynk)?.url}}</span>
        </div>
      </ion-list>
      <button ion-button (click)="addLynk('-Ka4M5_3mKUZGB60iElZ')">Add Lynk</button>

    </div>
  </ion-list>
  <button ion-button (click)="addLyst()">Add Lyst</button>

</ion-content>
