<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!authenticated()">
    <button ion-button outline (click)="signInWithFacebook()">Facebook</button>
  </div>

  The world is your oyster.
  <ul class="lynks">
    <li *ngFor="let lynk of lynks">
      <lynk-detail [lynk]="lynk"></lynk-detail>
    </li>
  </ul>

  <button *ngIf="authenticated()" ion-button outline (click)="logout()">Logout</button>
</ion-content>
